

section{
    padding: 100px;
}


.flex-container4{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: black;
    height: 100%;

}

.item4{
    width: 400px;
    margin: 10px;
    border: 3px solid white;
    background-color: rgb(white, white, black);
    height: 500px;
    color: white;
    max-width:100%;
    height:auto;
    
}

.table.container{
    
    background-color: black;
    height: 100%;
    
}
